vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|24 Jul 2022 17:47:19 -0000
vti_author:SR|BLUEFORCEMOBILE\\niyaz
vti_modifiedby:SR|BLUEFORCEMOBILE\\niyaz
vti_nexttolasttimemodified:TW|24 Jul 2022 17:47:19 -0000
vti_timecreated:TR|21 Sep 2022 15:37:05 -0000
vti_cacheddtm:TX|21 Sep 2022 15:37:05 -0000
vti_filesize:IR|30056
vti_cachedlinkinfo:VX|S|../fonts/revicons/revicons.woff S|../fonts/revicons/revicons.ttf S|../fonts/revicons/revicons.svg S|openhand.cur S|closedhand.cur S|../assets/gridtile.png S|../assets/gridtile_white.png S|../assets/gridtile_3x3.png S|../assets/gridtile_3x3_white.png S|../assets/coloredbg.png S|../assets/coloredbg.png S|../assets/loader.gif
vti_cachedsvcrellinks:VX|NSUS|assets/js/revolution/fonts/revicons/revicons.woff NSUS|assets/js/revolution/fonts/revicons/revicons.ttf NSUS|assets/js/revolution/fonts/revicons/revicons.svg NSUS|assets/js/revolution/css/openhand.cur NSUS|assets/js/revolution/css/closedhand.cur NSUS|assets/js/revolution/assets/gridtile.png NSUS|assets/js/revolution/assets/gridtile_white.png NSUS|assets/js/revolution/assets/gridtile_3x3.png NSUS|assets/js/revolution/assets/gridtile_3x3_white.png NSUS|assets/js/revolution/assets/coloredbg.png NSUS|assets/js/revolution/assets/coloredbg.png NSUS|assets/js/revolution/assets/loader.gif
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|
vti_syncwith_localhost\\e\:\\google drive\\hot jobs\\fragrance pot\\website/e\:/google drive/hot jobs/fragrance pot/website:TW|24 Jul 2022 17:47:19 -0000
vti_syncwith_localhost\\e\:\\google drive\\hot jobs\\napean capital\\website/e\:/google drive/hot jobs/napean capital/website:TW|24 Jul 2022 17:47:19 -0000
