vti_encoding:SR|utf8-nl
vti_author:SR|BLUEFORCEMOBILE\\niyaz
vti_modifiedby:SR|BLUEFORCEMOBILE\\niyaz
vti_timelastmodified:TR|21 Mar 2023 06:53:44 -0000
vti_timecreated:TR|21 Mar 2023 06:11:39 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|21 Mar 2023 06:43:55 -0000
vti_cacheddtm:TX|21 Mar 2023 06:43:55 -0000
vti_filesize:IR|15140
vti_cachedlinkinfo:VX|S|../fonts/icomoon/icomoon.eot S|../fonts/icomoon/icomoon.eot S|../fonts/icomoon/icomoon.woff S|../fonts/icomoon/icomoon.ttf S|../fonts/icomoon/icomoon.svg
vti_cachedsvcrellinks:VX|FSUS|assets/fonts/icomoon/icomoon.eot FSUS|assets/fonts/icomoon/icomoon.eot FSUS|assets/fonts/icomoon/icomoon.woff FSUS|assets/fonts/icomoon/icomoon.ttf FSUS|assets/fonts/icomoon/icomoon.svg
